<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=.\SQLExpress;Database=Northwind;Integrated Security=True;Connect Timeout=30;Trusted_Connection=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </appSettings>
</configuration>